@import 'mixins';
@import 'variables';

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &-primary {
        background-color: $primary-color;
    }

    &-grey{
        background-color: $grey-color;
    }

    &-light{
        background-color: #FFFFFF;
    }

    &-dark{
        background-color: $text-color;
    }
    &-management {
        background: url("../images/background-image_3.jpg") no-repeat;
        background-size: cover;
        background-position-y: 60%;
        background-position-x: 35%;
        @include tablet{
            background-position-x: 0%;
        }
    }
    &-trusted-by{
        background: url("../images/1.jpg") no-repeat;
        background-size: cover;
        position: relative;
        background-position-y: 100%;
    }
    &-about {
        background-color: #16478C;
    }
    &-pricing {
        background-color: rgb(207, 208, 211);
    }
    &-contact-us {
        background-color: #EE504D;
    }
}