@import 'mixins';
@import 'variables';

.btn{
    background-color: transparent;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    font-size:12px;
    @include tablet{
        font-size:14px;
    }
}

.btn-primary {
    border: 2px solid $light-color;
    color: $light-color;
    padding: 10px 60px;
    font-size: 1em;

    &:hover{
        background-color: rgba(0,0,0,.2);
        color: $light-color;
        border-color: $light-color;
    }
    &:active:focus,
    &:active {
        background: transparent;
        border-color: $light-color;
    }
    &:focus {
        background: rgba(0,0,0,.2);
        border-color: $light-color;
    }
 }

 .btn-info{
    border: 2px solid $primary-color;
    color: $primary-color;
    padding: 7px 20px;

    &:hover{
        background-color: rgba(1,58,85,.2);
        color: $primary-color;
        border-color: $primary-color;
    }

    &:active:focus,
    &:active {
        background: transparent;
        border-color: $primary-color;
        color: $primary-color;
    }
    &:focus {
        background: $primary-color;
        color: $light-color;
        border-color: $primary-color;
    }
 }

 .btn-promo{
     color: $primary-color;
     transition: all .3s ease;
     font-size:18px;
     &:hover{
        color: $secondary-color;
     }
 }

 .form-control{
     margin-bottom: 15px;
 }

 .modal{
     &-body{
        text-align: center;
        p{
            color: $primary-color;
            font-weight: bold;
            padding:30px 20px;
        }
     }
 }
 .glyphicon-ok {
     color: #16478C;
     border-radius: 5px;
     border: 2px solid #16478C;

 }
 .glyphicon-remove {
     border-radius: 5px;
     border: 2px solid;
     color:#a7a7a7;
 }
