@import 'mixins';
@import 'variables';
html,
body {
    height: 100%;
    font-size: 18px;
}

body {
    padding-top: 60px;
    color: $text-color;
    font-family: $body-font;
    overflow-x:hidden;
}

h2 {
    margin:0;
    text-transform: uppercase;
}

h3 {
    margin: 0 0 10px;
    font-weight: bold;
}

textarea{
    resize: none;
}

.section {
    padding: 50px 0;

    &__biggest{
        padding: 50px 0;
        @include tablet{
            padding: 100px 0;
        }

    }

    @include tablet{
        padding: 80px 0 90px;
    }
    
    &-title {
        text-align: center;
        font-weight: bold;
        font-size: 28px;
        color: #474b59;
        padding-bottom: 50px;
        @include tablet {
            font-size: 36px;
        }
        &__left {
            @include notebook{
                text-align: left;
            }
        }
        &__light{
            color:$light-color;
        }
    }
    &-subtitle {
        text-align: center;
        margin-top: -20px;
        padding-bottom: 20px;

        @include tablet{
            padding-bottom: 50px;
            line-height: 1.6em;
        }
    }
    &-dark {
        color: $light-color;
    }

    &-image{
        margin-top: 30px;
        @include tablet{
            padding: 0 30px;
        }
        @include desktop{
            margin-top:0;
        }
        img{
            width:100%;
        }
    }
}

.vertical {
    &-container {
        display: table;
        width: 100%;
        height: 100%;
    }
    &-body {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}

.flex-container{
    @include notebook{
        display: flex;
        align-items: center;
    }
}

.contact-us-block {
    background: $primary-color;
    text-align: center;
    padding: 40px 0;
    color: $light-color;
}

.contact-form{
    margin-bottom: 40px;
    text-align: center;
    @include tablet{
        margin-bottom: 0;
        text-align: left;
    }
}

footer{
    background: $text-color;
    font-size: 0.8em;
    padding:15px 0;
    color:$light-color;
    
    p{
         margin:0;
     }

    a{
        color:$light-color;
        text-decoration: underline;

        &:hover{
            color:$light-color;
        }
    }
}

a{
    color:$primary-color;
    transition: all .2s ease;
    &:hover{
        color:$secondary-color;
    }
}

.secondary-text{
    color:$secondary-color;
}

.terms{
    &-title{
        text-transform: none;
        font-weight: 700;
    }
    &-subtitle{
        margin-bottom: 15px;
    }
}