.contact-form {
    border-radius: 20px;
    background-color: white;
    padding: 35px 40px;
    padding-bottom: 20px;

    &-item{
        input, textarea{
            background-color: rgba(128, 128, 128, 0.15);
        }
    }

    label{
        text-transform: uppercase;
    }
}

.contact-info-block{
    margin: 10px 40px;
    padding: 10px 15px;
    text-align: center;
    color:white;
    transition: all .3s ease;
    position: relative;
    &:hover{
        background-color: rgba(255,255,255,0.15);
    }
}

.contact-info-link{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
}