@import 'mixins';
@import 'variables';

.hero {
    height: 85vh;
    padding-top:300px;
    position: relative;
    &:before{
        content:'';
        background-color: rgba(255,255,255,0.1);
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    @include tablet{
        // height: 85vh;
        height: 70vh;
        &:before{
            background-color: transparent;
        }
    }
    @include notebook{
        height: 85vh;
    }

    &-title {
        color:$light-color;
        line-height: 1.5em;
        font-family: $title-font;
        text-align: center;
        font-size: 32px;

        &-top-for-today {
            color: #EC504E;
        }
        &-top-for-today:after{
            content: '';
            bottom: 2px;
            position: relative;
            display: block;
            width: 100%;
            border-bottom: 3px solid #EC504E;
        }
        &-features {
            color:#EC504E;
            margin-bottom: 55px;
        }
        &-features:after{
            content: '';
            bottom: 0;
            position: relative;
            display: block;
            width: 100px;
            margin-left: -50px;
            left: 50%;
            border-bottom: 3px solid #EC504E;
           
        }
        &-pricing {
            color: #16478C;
            margin-bottom: 55px;
        }
        &-pricing:after  {
            content: '';
            bottom: 0;
            position: relative;
            display: block;
            width: 100px;
            margin-left: -50px;
            left: 50%;
            border-bottom: 3px solid #16478C;
        }
    }
    
    &-arrow{
        &-container{
            bottom: 50px;
            width: 100%;
            position: absolute;
        }

        &-body{
            text-align: center;
            width: 100px;
            margin: 0 auto;
        }

        &-link{
            display: block;
            width: 110px;
            height: 70px;
            color: white;

            &:hover, &:active, &:focus, &:active:focus{
                color: white;
                text-decoration: none;
            }
        }
    }
}


.hero-box {
    transform: translate3d(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border:1px solid white;
    border-radius: 15px;
    text-align: center;
    color: black;
    transition: all 0.3s ease;
    position: relative;
    height: 160px;
    @include tablet{
        height: 170px;
    }
    @include notebook{
        height: 190px;
    }
    &-back, &-front {
        transition: all 0.3s ease;
        backface-visibility: hidden;
        perspective: 600px;
    }

    &:hover{
        background-color:rgba(255,255,255,0.3);
        
        & .hero-box-front{
            visibility: hidden;
            transform: rotateX(180deg);
        }
        & .hero-box-back{
            visibility: visible;
            transform: rotateX(0deg);
        }
    }

    &-front{
        visibility: visible;
        padding:20px;
        @include notebook{
            padding:20px 40px;
        }

        .logo{
            // width: 100px;
            // height:100px;
            // @include notebook{
            //     width: 180px;
            // }

            // background-position: center center;
            // background-size:contain;
            // background-color:white;
            // border-radius:20px;

            // .logo{
            //     w
            // }
        }

        // .logo-image{
        //     width: 100px;
        //     @include notebook{
        //         width: 150px;
        //     }
        //     @include notebook{
        //         width: 180px;
        //     }
        // }
    }
    &-back{
        visibility: hidden;
        transform: rotateX(180deg);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding:15px;
        @include tablet{
            padding:20px;
        }
        @include notebook{
            padding:20px 40px;
        }
    }
    &-name{
        font-weight: bold;
        padding-top: 10px;
        font-size: 14px;
        @include notebook{
            font-size: 18px;
        }
    }
    &-title{
        font-weight: bold;
        text-align: left;
        // margin-right: 45px;
        font-size: 14px;
        @include notebook{
            font-size: 18px;
        }
    }
    &-price{
        position: absolute;
        top:15px;
        right:20px;
        font-weight: bold;
        font-size:14px;
        color:$primary-color;
        @include tablet{
            font-size: 18px;
        }
        @include notebook{
            right:50px;
            top:20px;
        }
        &-front{
            color:$primary-color;
            padding-top: 5px;
            font-weight: bold;
        }
    }
    &-list{
        padding: 5px 25px;
        text-align: left;
        font-size: 14px;
        @include notebook{
            font-size: 18px;
        }
    }
    &-link{
        background-color: $secondary-color;
        border:none;
        color:white;
        padding: 8px 15px;
        transition: all 0.3s ease;
        &:hover{
            color:white;
            background-color: darken($secondary-color, 10%)
        }
        @include tablet{
            padding: 8px 25px;
        }
        @include notebook{
            padding: 10px 60px;
        }

        // &.pl-only{
        //         padding: 10px 10px;
        //         font-size:12px;
        //     @include notebook{
        //         padding: 10px 15px;
        //     }
        // }
    }
}


#offersContainer{
    > div:last-child{
        display:none;
        @include tablet{
            display:block;
        }
    }
}

.top-for-today {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top:0;
    width:100%;
    padding: 20px 0 30px;
}

.hands-free {
    @include tablet {
        border-left: 3px solid #16478C;
    }
    
    &-text {
        color: #2b2b2b;
        font-size: 26px;
        font-weight: bold;
        padding-left: 20px;
    }
}

.hadns-free-title {
    color: #16478C;
    font-family:$title-font;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 42px;
    padding-bottom: 10px;
    @include tablet{
        font-size: 60px;
    }
}

.about::after {
    content: '';
    bottom: -3px;
    position: absolute;
    width: 100px;
    margin-left: -50px;
    left: 50%;
    border-bottom: 3px solid white;
    @include tablet {
        bottom: -8px;
    }  
    @include notebook {
        border-right: 3px solid white;
        border-bottom: none;
        right: 3px;
        top:0;
        left: auto;
        bottom: 0;
    }    
}
.about-text {
    color: white;
    @include notebook{
        padding-left: 45px;
    }
    p{
        line-height: 1.5;
        margin-bottom: 25px;

        &:last-child{
            margin-bottom: 0px;
        }
    }
}
.about-title {
    color: white;
    font-family: $title-font;
    text-align: center;
    font-size:32px;
    margin-bottom: 40px;
    @include notebook{
        padding-top: 35px;
        margin-bottom: 20px;
        padding-bottom: 35px;
    }
}
.contact-us-title {
    color: white;
    font-family: $title-font;
    text-align: center;
    padding-bottom:50px;
    font-size:32px;

    &:after{
        content: '';
        bottom: 40px;
        position: absolute;
        width: 100px;
        margin-left: -50px;
        left: 50%;
        border-bottom: 3px solid white;
    }
    
    @include notebook {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        text-align: left;

        &:after{
            display: none;
        }
    }
}
.contact-us {
    @include notebook {
        border-left: 3px solid white;
    }
    
}