.icon {
    display: block;
    width: 130px;
    height: 130px;
    max-width: 100%;
    background-size: 100%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;    

    &__inline {
        width: 45px;
        height: 45px;
    }
    &__sm {
        width: 65px;
        height: 80px;
    }
    &__xs {
        width: 45px;
        height: 100px;
    }

    &-email {
        background-image: url('../images/icons/email-icon.png');
    }

    &-location {
        background-image: url('../images/icons/location-icon.png');
    }

    &-check {
        background-image: url('../images/icons/check.svg');
    }

    &-none {
        background-image: url('../images/icons/none.svg');
    }
   
}
