.info-block {
    padding: 25px;
    margin: 0 10px 40px;
    font-size: 0.8em;
    
    &-header {
        padding: 10px 0 25px;
        position: relative;
    }
    &-title {
        margin-bottom:10px;
    }
    &-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__grey {
        background: $grey-color;

        @include tablet{
            min-height: 380px;
        }
        @include notebook{
            min-height: 450px;
        }
        @include desktop{
            min-height: 375px;
        }
    }
    
}
.feature-description {
    text-align: center;
    padding: 15px 30px;
    @include notebook {
        margin: 0 -15px;
        border-right: 1px solid grey;
        min-height: 360px;
    }

    &-title{
        font-size: 20px;
        font-weight: bold;
        padding: 20px 0;
    }

    &-last {
        border-right: none !important;
    }

    &__lg{
        @include notebook{
            min-height: 409px;
        }
    }

    img{
        width: 100px;
    }
}



.price {
    transition: all 0.3s ease;
    margin-bottom:40px;
    @include notebook {
        margin:0 0 20px;
    }

    &.price-secondary{
        &:hover{
            background-color: rgba(255,255,255,0.5);
            -webkit-box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
            box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
    
            .price-header{
                background-color:#ababab;
                color: white;
                border-top-left-radius: 23px;
                border-top-right-radius: 23px;
                border: 0px solid #ababab;
            }
        }
        @include mobile-only{
            background-color: rgba(255,255,255,0.5);
            -webkit-box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
            box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
    
            .price-header{
                background-color:#ababab;
                color: white;
                border-top-left-radius: 23px;
                border-top-right-radius: 23px;
                border: 0px solid #ababab;
            }
        }
    }

    &-active {
        background-color: white;
        border: none;
        -webkit-box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
        box-shadow: 5px 5px 15px 1px rgb(183, 183, 184);
    }
    border: 2px solid grey;
    
    border-radius: 25px;
    text-align: center;
    & ul {
        list-style-type: none;
        & li {
            padding: 15px 0;
            margin-left: -35px;
            text-align: center;
            @include tablet {
                padding: 10px;
            }
            @include notebook {
                padding: 5px;
            }
        }
    }
    &-digit {
        color: #ED504D;
        font-size: 28px;
        font-family: $title-font;
    }
    & a {
        text-decoration: underline;
        font-weight: bold;
        padding-top: 10px;
        display: inline-block;
    }
    &-body{
        padding: 20px 0 30px;
    }
}


.price-category ul {
    padding-top: 145px;
        text-align: left;
        list-style-type: none;
        padding-left: 0px;
        @include desktop{
            padding-left: 30px;
        }
        & li {
            white-space: nowrap;
            padding: 16px 0;
            text-align: left;
        }
}


.price-header{
    padding: 15px 10px 10px;
    position: relative;
    transition: all 0.3s ease;
    &-active {
        background-color: #16478C;
        color:white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border: 2px solid #16478C;
    }
    &-title{
        line-height: 1.2;
    }
}
.save-price {
    position: absolute;
    bottom: 8px;
    left: 40%;
    &.pl-only{
        left: 32%;
        bottom: 6px;
    }
    @include tablet{
        &.pl-only{
            left: 23%;
        }
    }
    @include notebook {
        left: 50%;
        &.pl-only{
            left: 27%;
        }
    }
}
.price-category-xs {
    @include notebook {
        display: none;
    }
}
.contact-us-content {
    @include notebook{
        display: flex;
        align-items: center;
    }
}
.about-content {
    @include notebook {
        display: flex;
        align-items: center;
    }
}