@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin notebook {
    @media (min-width: #{$notebook-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
@mixin mobile-only {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}