@import 'mixins';
@import 'variables';
// .navbar {
//     transform: translateZ(0);
// }

.navbar-default {
    border: none;
    transition: all 0.5s;
    background-color: #565656;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    padding: 0px 10px;
    @include tablet {
        // padding: 0px 50px;
    }
}

.navbar-default .navbar-nav>li>a {
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 0.3s;
    // font-family:$title-font;

    &:hover{
        text-decoration: underline;
        color:white;
    }

    &:active, &:focus{
        background-color:$primary-color;
        color:white;
    }
}

    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus, 
    .navbar-default .navbar-nav>.active>a:hover {
        background-color:$primary-color;
        color:white;
    }

.navbar-default .navbar-nav>li>.btn{
    margin:11px;
}

.navbar-default .navbar-brand {
    padding: 30px 15px;
    height:60px;
    font-size: 32px;
    font-family: $title-font;
    line-height: 1px;
    margin-top: 0px;
    color: white;
    &:hover, &:focus{
        color: white;
    }
    img{
        height: 100%;
    }
}

.collapse{
    overflow: hidden;
    @include tablet{
        min-height: auto;
    }
}

.navbar-fixed-top .navbar-collapse{
    max-height: 390px;
}

.navbar-toggle{
    margin-top: 13px;
    margin-bottom: 13px;
}

.navbar-nav>li>a.languages{
    &-bar{
        display: inline-block;
        margin: 17.5px 10px;
        padding: 0;
        filter: saturate(0);
        &:hover, &:focus{
            background-color: transparent;
            filter: saturate(0.5);
        }
        &.active{
            filter: saturate(1);
        }
        img{
            width: 25px;
        }
    }
}