@font-face {
	font-family: 'VAG-Rundschrift-D';
	src: url('../fonts/vag-rundschrift-d_47301.eot');
    src: local('☺'), url('../fonts/vag-rundschrift-d_47301.woff') format('woff'), 
    url('../fonts/vag-rundschrift-d_47301.ttf') format('truetype'), 
    url('../fonts/vag-rundschrift-d_47301.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$body-font: 'Open Sans', serif;
$title-font: 'VAG-Rundschrift-D', sans-serif;
$body-second-font: 'Open Sans', Arial, sans-serif;
$heading-font: 'Open Sans', serif;
$heading-second-font: 'Montserrat', Arial, sans-serif;
$brand-font: 'adorn-smooth-pomander';
$brand-secondary-font: 'adorn-smooth-slab-serif';

$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1200px;
$mobile-width:375px;

$primary-color: #16478C;
$secondary-color: #ED504D;;
$grey-color: #eee;
$light-color: #fff;
$text-color: #474b59;