@import 'mixins';
@import 'variables';

@import 'common';
@import 'bootstrap-custom';
@import 'hero';
@import 'backgrounds';
@import 'navbar';
@import 'info-block';
@import 'icons';
@import 'form';

.logo {
    &-image {
        height: 100px;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 10px;
    }
}
.logo-arrow{
    position: absolute;
    top: 0;
    height: 100%;
    border: 0;
    background: none;
    font-size: 25px;
    padding: 40px 0 20px;
    outline: none;
    color: #a7a7a7;

    &__prev{
        left: 0;
    }

    &__next{
        right: 0;
    }
}
.logos-carousel {
    padding: 20px 0;
    margin: 0 25px;
}



    .transition-fade {
        transition: all 0.6s ease;
        
        opacity: 0;
        transform: translate(0, -100%);

        &.in {
            opacity: 1;
            transform: translate(0, 0);
        }
    }