<section class="section section__biggest background-about" id="about">
    <div class="container">
        <div class="row">
            <div class="about-content">
                <div class="col-md-2">
                    <div class="about js-title-right">
                        <h2 class="about-title">O nas</h2>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="about-text">
                        <p>UTES  to inteligentna aplikacja dla firm działających w branży reklamy mobilnej, i nie tylko, która nie tylko uratuje menedżerów od codziennej rutyny i pomoże Twojej firmie zwiększyć zyski ponad dwukrotnie. Aplikacja Hands-Free Management pozwoli Ci zaoszczędzić pieniądze i czas - nie musisz szukać nowych menedżerów do swojego projektu i marnować czasu na szkolenie, aby pomóc doświadczonym menedżerom w zwiększeniu produktywności.
                        </p>
                        <p>Korzystaj z UTES i wysyłaj swoim klientom właściwe oferty we właściwym czasie przez Skype i e-mail. Aplikacja jest zintegrowana z platformami śledzenia Afftrack, Hasoffers, Affise, Offerslook. Również możemy zintegrować aplikację z dowolnym programem, którego używasz.</p>
                        <p>Bądź zaawansowany technologicznie! Bądź z UTES!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>