<section class="section background-light" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="hero-title hero-title-features js-title-bottom">Filtry</h2>
            </div>
        </div>
        <div class="row">
            <div class="feature-desctiption-block">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/location.svg">
                            <div class="feature-description-title">Filtry geograficzne</div>
                            <p>USA, Wielka Brytania, Niemcy, Japonia itd. - po prostu dodaj niezbędne kraje do profilu swojego klienta i wysyłaj mu oferty, których oczekuje</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/device.svg">
                            <div class="feature-description-title">Filtry urządzeń</div>
                            <p>Android, iOS - wystarczy dodać niezbędne urządzenie do profilu klienta i wysyłać mu odpowiednie oferty </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description feature-description-last">
                            <img src="images/icons/traffic.svg">
                            <div class="feature-description-title">Filtry ruchów</div>
                            <p>Incent, Non incent, CPA, CPI, CPL, 1 Click Flow - więcej rodzajów ruchu, więcej możliwości</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr align="left" width="100%" style="border-top:1px solid grey" class="hidden-xs hidden-sm">
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/mail.svg">
                            <div class="feature-description-title">Wiadomości</div>
                            <p>Dodaj / zmień tekst wiadomości do wysłania pocztą e-mail lub pocztą Skype w dowolnym momencie! Wysyłaj życzenia, zadawaj pytania, wysyłaj oferty swoim klientom za pomocą jednego kliknięcia!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description feature-description__lg">
                            <img src="images/icons/time.svg">
                            <div class="feature-description-title">Czas wysłania</div>
                            <p>Dodaj najlepszy czas na wysyłanie wiadomości do klientów z Azji, Europy lub USA - bądź pierwszy!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description feature-description-last">
                            <img src="images/icons/save.svg">
                            <div class="feature-description-title">Zapisz</div>
                            <p>Od tej pory klienci otrzymują wszystkie oferty z Twojej platformy zgodnie z dodanymi filtrami przez Skype i e-mail. To łatwe, prawda? Oszczędź czas, aby znaleźć nowych partnerów!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="text-center" style="padding:60px 30px 0">W razie potrzeby dostosujemy wszystkie filtry zgodnie z Twoimi życzeniami i specyfiką Twojej firmy.</p>
        </div>
</section>