<section class="hero background-management">
    <div class="vertical-container">
        <div class="vertical-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-7">
                        <div class="hands-free js-title-right">
                            <h2 class="hadns-free-title">HANDS-FREE <br>MANAGEMENT</h2>
                        </div>
                        <p class="hands-free-text js-title-right">Ludzie mogą popełniać błędy - my&nbsp;nie!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-for-today">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="hero-title hero-title-top-for-today">TOP na dzisiaj</h2>
                </div>
            </div>
            <div class="row transition-fade" id="offersContainer">
            </div>
        </div>
    </div>
</section>

<script type="text/html" id="offer-template">
    
    <div class="col-xs-6 col-sm-4">
    <div class="hero-box">
        <div class="hero-box-front">
            <div class="logo">
                <img src="" class="logo-image js-offer-image" alt="">
            </div>
            <div class="hero-box-name js-offer-name">Offer Name</div>
        </div>
        <div class="hero-box-back">
            <p class="hero-box-title js-offer-name">Offer Name</p>
            <ul class="hero-box-list js-offer-list">
                <li>1 option</li>
                <li>2 option</li>
            </ul>
            <a class="btn hero-box-link pl-only js-offer-link" target="_blank" href="">Zobacz więcej</a>
        </div>
    </div>
</div>
</script>