<div class="modal fade" tabindex="1" role="dialog" id="contactModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                    
                <p>Dziękuję za wiadomość!<br>Skontaktujemy się z Tobą w ciągu jednego dnia roboczego.</p>
            </div>
        </div>
    </div>
</div>