<nav class="navbar navbar-default navbar-fixed-top" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/" data-page-scroll>
                <!-- <img src="images/logo.png"/> -->
                UTES
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" data-page-scroll>O nas</a></li>
                <li><a href="#features" data-page-scroll>Filtry</a></li>
                <li><a href="#pricing" data-page-scroll>Cennik</a></li>
                <li><a href="#trusted-by" data-page-scroll>Zaufali nam</a></li>
                <li><a href="#contact-us" data-page-scroll>Kontakt</a></li>
                <li style="padding-left:15px;">
                        <span class="hidden-md hidden-lg" style="color:white; text-transform:uppercase; font-size:16px; margin:0 6px;">Languages</span>
                        <a href="/" class="languages-bar"><img class="languages-icon" src="images/icons/uk.svg"></a>
                        <a href="pl" class="languages-bar active"><img class="languages-icon" src="images/icons/pl.svg"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>