<section class="section background-pricing" id="pricing">
    <div class="vertical-container">
        <div class="vertical-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h2 class="hero-title hero-title-pricing js-title-bottom">Cennik</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="price-category hidden-xs hidden-sm">
                            <ul>
                                <li>Integracja</li>
                                <li>Filtry</li>
                                <li>Wiadomości</li>
                                <li>Wsparcie techniczne</li>
                                <li>Baner reklamowy 1/ miesiąc</li>
                                <li>Baner reklamowy 2/ miesiąc</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-active">
                            <div class="price-header price-header-active">
                                <p class="price-header-title">Pakiet na<br>3 MIESIĄCE</p>
                                <p class="price-digit">&euro;297</p>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integracja</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filtry</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wiadomości</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wsparcie techniczne</span></li>
                                    <li><span class="icon icon-none icon__inline"></span></span><span class="price-category-xs">Baner reklamowy 1/miesiąc</span></li>
                                    <li><span class="icon icon-none icon__inline"></span></span><span class="price-category-xs">Baner reklamowy 2/miesiąc</span></li>
                                </ul>
                                <a href="#contact-us" data-page-scroll>Dowiedz się więcej</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-secondary">
                            <div class=" price-header">
                                    <p class="price-header-title">Pakiet na<br>6 MIESIĘCY</p>
                                <p class="price-digit">&euro;497</p>
                                <div class="save-price pl-only">
                                    <small>oszczędzasz <span class="secondary-text"><b>&euro;100</b></span></small>
                                </div>
                            </div>
                            
                            <div class="price-body">
                            <ul>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integracja</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filtry</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wiadomości</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wsparcie techniczne</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Baner reklamowy 1/miesiąc</span></li>
                                <li><span class="icon icon-none icon__inline"></span><span class="price-category-xs">Baner reklamowy 2/miesiąc</span></li>
                            </ul>
                            <a href="#contact-us" data-page-scroll>Dowiedz się więcej</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-secondary">
                            <div class="price-header">
                                    <p class="price-header-title">Pakiet na<br>12 MIESIĘCY</p>
                                <p class="price-digit">&euro;997</p>
                                <div class="save-price pl-only">
                                    <small>oszczędzasz <span class="secondary-text"><b>&euro;200</b></span></small>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integracja</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filtry</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wiadomości</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Wsparcie techniczne</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Baner reklamowy 1/miesiąc</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Baner reklamowy 2/miesiąc</span></li>
                                </ul>
                                <a href="#contact-us" data-page-scroll>Dowiedz się więcej</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>