<section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="terms-title">Privacy Notice</h2>
                    <br />
                    <p>Updated and effective as of May 25, 2018</p>
                    <br />
                    <p>At <b>UTES SP. Z O.O</b> ("<b>UTES</b>", "<b>Company</b>" or "<b>we</b>") we understand the value of privacy and are committed to ensuring that all personal data we process is done so in accordance with applicable law and best practices, thus protecting the rights and freedoms of individuals. We place privacy at the core of our business and understand that good relationships are based on trust.</p>
                    <p>This Privacy Notice serves to explain to you how we process your personal data and disclose important information as required by the General Data Protection Regulation ("GDPR") (EU 2016/679), including your rights towards your personal data. This Privacy Notice applies to the use of our websites and online platforms, the use of our services, and to our sales, marketing and customer contract fulfilment activities. It also applies to individuals who apply for a job with the Company.</p>
                    <br />
                    <h3 class="terms-subtitle">Details of the Company</h3>
                    <p><b>UTES</b> refers to <b>UTES SP. Z O.O.</b> Our main headquarters is located in Poland, Kraków, 31-514, al. płk. Władysława Beliny-Prażmowskiego 14.</p>
                    <p>Company provides online advertising services, which support publishers in monetizing their online advertising space, as described in the Terms and Conditions of the Publisher Program, and advertisers in marketing their products and services.</p>
                    <p>With regards to the personal data covered by this Privacy Notice, Company is the data controller. </p>
                    <p>We have a Data Protection Officer, who can be contacted here: <b><a href="mailto:hello@utes.com">hello@utes.com</a></b>.</p>
                    <br />
                    <h3 class="terms-subtitle">When do we collect personal data?</h3>
                    <p>We may collect personal data about you in the following cases:</p>
                    <ul>
                        <li>When you use our websites and online platforms, as well as our services;</li>
                        <li>When you interact with us in person, through correspondence, by phone, in social media, or through our websites and online platforms;</li>
                        <li>We may also collect certain personal data if we consider that this is in our legitimate interest or that of a third party, but only if this legitimate interest is not overridden by your interests or fundamental rights and freedoms. Before any data is collected we conduct an assessment to ensure this balance is appropriate.</li>
                    </ul>
                    <br />
                    <h3 class="terms-subtitle">Why do we collect and use personal data?</h3>
                    <p>We collect and use personal data mainly to run our websites and online platforms appropriately, provide our services, perform sales and direct marketing activities, target advertising on our websites and platforms and elsewhere online, and process job applications with the Company.</p>
                    <br />
                    <h3 class="terms-subtitle">How do we use personal data?</h3>
                    <p>We may use personal data for the following purposes:</p>
                    <ul>
                        <li>Provide, maintain, and improve our websites and online platforms;</li>
                        <li>Provide our services, including related technical support and access to our online platforms;</li>
                        <li>Prevent fraud, abuse, and other illegal activities; protect our rights and safety and those of others; enforce compliance with our policies; and comply with applicable law and requests of competent authorities;</li>
                        <li>Send you direct marketing about our products and services, events, activities, and other promotions that we think may interest you;</li>
                        <li>Perform direct sales activities;</li>
                        <li>Target content and advertisements we and third parties display to you, both on our websites and online platforms and elsewhere online;</li>
                        <li>Perform contractual obligations, such as making payments. The contract may be with Company directly or with a subsidiary of Company;</li>
                        <li>Communicate with you, by replying to your requests;</li>
                        <li>Notify you about any technical issues, updates and security alerts related to our services;</li>
                        <li>Obtain aggregated insights about our websites and online platforms, such as by generating statistics about our user traffic and calculating advertisements served or clicked on;</li>
                        <li>Process job applications.</li>
                    </ul>
                    <br />
                    <h3 class="terms-subtitle">Which types of personal data we collect?</h3>
                    <p>We collect the following types of personal data:</p>
                    <ul>
                        <li>When you use our websites and online platforms, we collect IP address, device identifier, browser type, access time, and actions taken on the websites and online platforms;</li>
                        <li>When you use our services and register on our websites and online platforms, we collect name, phone number, email address, password, and other information you decide to provide to us, such as a photo;</li>
                        <li>We may collect additional information you provide to us, for example when you send us a job application or otherwise communicate with us. Company does not collect or processes any special categories of personal data. Our websites and online platforms, as well as our services, are not targeted to and should not be used by children under the age of 16. We do not knowingly collect personal data of children.</li>
                    </ul>
                    <br />
                    <h3 class="terms-subtitle">What are our legal bases for processing personal data?</h3>
                    <p>We rely on the following legal bases:</p>
                    <ul>
                        <li>Performance of a contract, for providing our services and any related technical support, and fulfilling our contractual obligations, such as making payments;</li>
                        <li>Our legitimate interests or those of a third party, for providing our websites and online platforms, ensuring security and integrity, performing direct marketing and sales activities, obtaining aggregated insights, processing job applications, and other relevant communications with you;</li>
                        <li>Compliance with a legal obligation, where required by applicable law or by competent authorities;</li>
                        <li>Your consent, which you can withdraw at any time, for targeted advertising, using tracking technologies, and other purposes disclosed at the time the data was collected.</li>
                    </ul>
                    <br />
                    <h3 class="terms-subtitle">For how long do we keep personal data?</h3>
                    <p>We keep personal data for as long as it is necessary to fulfil the purpose for which the personal data was collected, for example during the period which you are registered in our websites or online platforms, to attend to any legal claims, for example if we believe that you have violated our rights, or for as long as required by applicable law.</p>
                    <p>When the personal data that we have collected is no longer required, we will delete it in a secure manner. </p>
                    <p>We may further process data for statistical purposes, but in such cases, data will be anonymized.</p>
                    <br />
                    <h3 class="terms-subtitle">What are your rights in relation to your personal data?</h3>
                    <p>You have the following rights with respect to your personal data held by Company:</p>
                    <ul>
                        <li>Right to request a copy of your personal data;</li>
                        <li>Right to request that Company corrects your personal data if inaccurate or out of date. If you have a registered account on our websites or online platforms, you can update your personal data directly on your preferences section;</li>
                        <li>Right to request the erasure of your personal data when no longer necessary for the purposes for which they are processed;</li>
                        <li>Right to withdraw your consent given to us for a certain purpose, for example for targeted advertising;</li>
                        <li>Right to request a restriction on further processing, in case there is a dispute regarding the processing;</li>
                        <li>Right to object to the processing, in case such processing is based on legitimate interests, for example for direct marketing and sales activities. You can opt-out of receiving direct marketing and sales communication from us here. Any question or request related to your rights should be sent to <b><a href="mailto:hello@utes.com">hello@utes.com</a></b>. In case you are not satisfied with the way your personal data is treated, you have the right to file a complaint with a supervisory authority. If you are in the EEA, you can find more information about your local supervisory authority here.</li>
                    </ul>
                    <br />
                    <h3 class="terms-subtitle">Do we use cookies and similar technologies?</h3>
                    <p>We use cookies and similar technologies, for example web beacons, pixels, ad tags and device identifiers, to collect information as you navigate on our websites and online platforms. These include standard information such as browser type, IP address, and the actions you take on our websites and online platforms, such as the pages viewed and the links clicked.</p>
                    <p>This information is used to make our websites and online platforms work more efficiently, to provide us with business and marketing information, and to gather such personal data for the purposes of understanding how visitors use our websites and online platforms. Cookies and similar technologies help us tailor our websites and platforms to you, as well as to detect and prevent security threats and abuse. If used alone, these technologies do not personally identify you.</p>
                    <p>To find out more about cookies, including how to see what cookies have been set and how to manage and delete them, visit wikipedia.org, allaboutcookies.org, or aboutcookies.org.</p>
                    <br />
                    <h3 class="terms-subtitle">Do we share personal data with other parties?</h3>
                    <p>We may share personal data with the following parties:</p>
                    <ul>
                        <li>Service providers and other partners which help us to provide our services. For example, we may share certain personal data with a bank to make a payment or store certain personal data in a cloud platform;</li>
                        <li>Partners we work with to serve targeted advertising and other marketing content, provided that you have given us your consent, which you can withdraw at any moment.</li>
                    </ul>
                    <p>We will ensure that these third parties are bound by this Privacy Notice and all applicable data protection laws, if necessary by executing data processing agreements. If data is transferred outside the EEA, we will ensure that appropriate safeguards are in place to protect your personal data.</p>
                    <p>We may be required to disclose certain personal data by law, to comply with a court order, or to protect our rights. In any case, we will do what we can to ensure that your rights remain protected.</p>
                    <br />
                    <h3 class="terms-subtitle">Changes to this Privacy Notice</h3>
                    <p>We may amend this Privacy Notice from time to time. The applicable version will always be found on our websites and online platforms. We encourage you to check this Privacy Notice occasionally to ensure that you agree to any eventual changes.</p>
                </div>
            </div>
        </div>
    </section>