<section class="section background-trusted-by" id="trusted-by">
    <div class="container">
        <div class="row">
            <h2 class="hero-title hero-title-pricing js-title-bottom">Zaufali nam</h2>
   

            <div class="logos-carousel">
                <div class="logo">
                    <img src="images/logos/act.png" class="logo-image" alt="Act">
                </div>
                <div class="logo">
                    <img src="images/logos/appbombe.png" class="logo-image" alt="AppBomber">
                </div>
                <div class="logo">
                    <img src="images/logos/laddez-white.png?v1" class="logo-image" alt="Laddez">
                </div>
                <div class="logo">
                    <img src="images/logos/ramon.png" class="logo-image" alt="Hearthstone">
                </div>
            </div>
        </div>

    </div>
    </div>
</section>