<section class="section section__biggest background-about" id="about">
    <div class="container">
        <div class="row">
            <div class="about-content">
                <div class="col-md-2">
                    <div class="about js-title-right">
                        <h2 class="about-title">ABOUT</h2>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="about-text">
                        <p>UTES is the smart application for Mobile Ad networks saving Affiliate Manager from everyday rutine and helping your company to increace profit more than twice. Our Hands-free Management Application will save your money and time
                            - you don't need to find the new managers for your project and lose time for teaching just help your experienced managers to be more productive.
                        </p>
                        <p>Use UTES and send to your publishers the right offers on the right time by Skype and e-mail.The application is integrated with Afftrack, Hasoffers, Affise, Offerslook tracking platforms.</p>
                        <p>Be smart! Be with UTES!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>