<section class="section section__biggest background-contact-us" id="contact-us">
    <div class="container">
        <div class="section-description">
            <div class="row">
                <div class="contact-us-content">
                    <div class="col-sm-12 col-lg-3 col-lg-push-9">
                        <div class="contact-us js-title-left">
                            <h2 class="contact-us-title js-title-horizontal">CONTACT US</h2>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-5 col-lg-pull-3">
                        <form action="mail.php" method="post" id="contactForm">
                            <div class="contact-form">
                                <div class="contact-form-item">
                                    <label for="name">NAME</label>
                                    <input class="form-control" type="text" name="name" id="name" required>
                                </div>
                                <div class="contact-form-item">
                                    <label for="email">E-MAIL</label>
                                    <input class="form-control" type="email" name="email" id="email" required>
                                </div>
                                <div class="contact-form-item">
                                    <label for="message">MESSAGE</label>
                                    <textarea class="form-control" rows="3" type="text" name="message" id="message"></textarea>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-promo btn-promo-white">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-lg-pull-3">
                        <div class="contact-info">
                            <div class="contact-info-block">
                                <a class="contact-info-link" href="mailto:hello@utes.mobi"></a>
                                <i class="icon icon-email icon__sm"></i>
                                <p>hello@utes.mobi</p>
                            </div>
                            <div class="contact-info-block">
                                <a class="contact-info-link" href="https://goo.gl/maps/9F28ugvgPgD2" target="_blank"></a>
                                <i class="icon icon-location icon__xs"></i>
                                <p>Poland, Kraków, 31-514, al. płk. Władysława Beliny-Prażmowskiego 14</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>