<section class="section background-pricing">
    <div class="container">
        <div class="row">
                <table id="example" class="display" width="100%"></table>
        </div>
        </div>
</section>