<section class="section background-light" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="hero-title hero-title-features js-title-bottom">FILTERS</h2>
            </div>
        </div>
        <div class="row">
            <div class="feature-desctiption-block">
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4 ">
                        <div class="feature-description">
                            <img src="images/icons/location.svg">
                            <div class="feature-description-title">GEO filters</div>
                            <p>US, UK, DE, JP, etc - just add needed GEO's to your Publisher's profile and send the right offers to the right Publishers</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/device.svg">
                            <div class="feature-description-title">Device filters</div>
                            <p>Android, IOS - just add needed Device to your Publisher's Profile and send offers without mistakes</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description feature-description-last">
                            <img src="images/icons/traffic.svg">
                            <div class="feature-description-title">Traffic type filters</div>
                            <p>Incent, Non incent, CPA, CPI, CPL, 1 Click Flow - more traffic types more opportunities</p>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr align="left" width="100%" style="border-top:1px solid grey" class="hidden-xs hidden-sm">
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/mail.svg">
                            <div class="feature-description-title">Messages</div>
                            <p>Add/change text of messages for your e-mail or skype conversation any time! Сongratulate, ask, advice your Publishers in one click!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description">
                            <img src="images/icons/time.svg">
                            <div class="feature-description-title">Time of sending</div>
                            <p>Add best time for offers sending for Publishers from Asia, Europe or USA - be the first!</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature-description feature-description-last">
                            <img src="images/icons/save.svg">
                            <div class="feature-description-title">Save</div>
                            <p>From this moment Publishers receiving all offers from your platform according the added filters by skype and e-mail. It is easy, isn't it? Save your time for finding the new partners!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>