<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="terms">Terms & Conditions</a> &nbsp;|&nbsp;
                <a href="privacy">Privacy Policy</a>
            </div>
            <div class="col-md-6">
                <p class="text-right">&copy; 2018 Utes. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>