<div class="modal fade" tabindex="1" role="dialog" id="contactModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>                    
                <p>Thank you for your message!<br>We will contact you in one business day.</p>
            </div>
        </div>
    </div>
</div>