<section class="section background-pricing" id="pricing">
    <div class="vertical-container">
        <div class="vertical-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <h2 class="hero-title hero-title-pricing js-title-bottom">PRICING</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="price-category hidden-xs hidden-sm">
                            <ul>
                                <li>Integration</li>
                                <li>Filters</li>
                                <li>Messages</li>
                                <li>Support</li>
                                <li>Banner 1/month</li>
                                <li>Banner 2/month</li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-active">
                            <div class="price-header price-header-active">
                                <p class="price-header-title">3 MONTHS<br>package</p>
                                <p class="price-digit">&euro;297</p>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integration</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filters</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Messages</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Support</span></li>
                                    <li><span class="icon icon-none icon__inline"></span></span><span class="price-category-xs">Banner 1/month</span></li>
                                    <li><span class="icon icon-none icon__inline"></span></span><span class="price-category-xs">Banner 2/month</span></li>
                                </ul>
                                <a href="#contact-us" data-page-scroll>Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-secondary">
                            <div class=" price-header">
                                    <p class="price-header-title">6 MONTHS<br>package</p>
                                <p class="price-digit">&euro;497</p>
                                <div class="save-price">
                                    <small>save <span class="secondary-text"><b>&euro;100</b></span></small>
                                </div>
                            </div>
                            
                            <div class="price-body">
                            <ul>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integration</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filters</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Messages</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Support</span></li>
                                <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Banner 1/month</span></li>
                                <li><span class="icon icon-none icon__inline"></span><span class="price-category-xs">Banner 2/month</span></li>
                            </ul>
                            <a href="#contact-us" data-page-scroll>Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="price price-secondary">
                            <div class="price-header">
                                    <p class="price-header-title">12 MONTHS<br>package</p>
                                <p class="price-digit">&euro;997</p>
                                <div class="save-price">
                                    <small>save <span class="secondary-text"><b>&euro;200</b></span></small>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Integration</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Filters</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Messages</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Support</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Banner 1/month</span></li>
                                    <li><span class="icon icon-check icon__inline"></span><span class="price-category-xs">Banner 2/month</span></li>
                                </ul>
                                <a href="#contact-us" data-page-scroll>Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>