<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="terms-title">UTES SP. Z O.O<br /> Publisher Program Terms & Conditions</h2>
                <br />
                <p>Updated and effective as of May 25, 2018</p>
                <br />
                <p>Welcome to <b>UTES</b>. By submitting an application to, or by accessing the <b>Company Platform</b>, you are bound by the following Terms and Conditions of the Publisher Program ("<b>T&Cs</b>").</p>
                <p>These T&Cs, together with our Privacy Notice and the Data Processing Addendum, which are incorporated herein by reference, as well as with all current and future amendments and related orders by and between you and us, govern the relationship
                    between you ("<b>Publisher</b>" or "<b>you</b>") and UTES SP. Z O.O ("<b>UTES</b>", "<b>Company</b>" or "<b>we</b>") and apply to Publisher’s participation in the <b>Publisher Program</b>, and collectively constitute the "Agreement".</p>
                <br />
                <h3 class="terms-subtitle">1. Definitions</h3>
                <p>1.1. "<b>Account</b>" means the Publisher’s account on the Company Platform associated with the Publisher Program;</p>
                <p>1.2. "<b>Action</b>" means a click, install, sale, download, lead, impression, registration, subscription, or other event, as defined in the applicable order or as otherwise specified as eligible for remuneration by the respective Advertiser;</p>
                <p>1.3. "<b>Advertiser</b>" means a client of Company who wishes to promote the Advertiser Product;</p>
                <p>1.4. "<b>Advertiser Product</b>" means the products, services or equivalent offered by an Advertiser which are promoted by Company via the Publisher Program;
                </p>
                <p>1.5. "<b>Advertiser Platform</b>" means the landing page, website, or app to which end users may be redirected via the Links;</p>
                <p>1.6. "<b>Advertising Materials</b>" means any trademarks, advertising content, images, text, video, data or other material provided by or on behalf of an Advertiser to Company;</p>
                <p>1.7. "<b>Publisher Program</b>" means the participation of Publisher in the Company Platform as an Publisher of Company, providing and making available Publisher Media to Company;</p>
                <p>1.8. "<b>Commission</b>" or "<b>Payout</b>" means the amount payable to the Publisher in return for marketing an Advertiser Product, in accordance with the respective Advertiser’s terms with Company; or for supplying advertising space,
                    as agreed by the Parties;
                </p>
                <p>1.9. "<b>Company</b>" means UTES SP. Z O.O; with registered office in Poland, Kraków, 31-514, al. płk. Władysława Beliny-Prażmowskiego 14 and whose VAT is PL 6751596203, which is the owner of Company Platform;</p>
                <p>1.10. "<b>Company Platform</b>" means the internet website and platform owned and operated by Company to provide the Services;</p>
                <p>1.11. "<b>Links</b>" means graphic and textual links to the Advertiser Platform;
                </p>
                <p>1.12. "<b>Parties</b>" means the Publisher and Company together; "<b>Party</b>" in the singular shall also mean any of the Parties herein qualified;</p>
                <p>1.13. "<b>Publisher</b>" means the party executing this Agreement with Company;</p>
                <p>1.14. "<b>Publisher Media</b>" means websites or other internet inventory owned, maintained or controlled by Publisher, whether of Publisher’s own stock of internet advertising space, purchased on third party platforms, or otherwise to
                    which the Publisher has the right to use, whereby advertising space is made available;</p>
                <p>1.15. "<b>Services</b>" means the services or assistance provided by Company under this Agreement;</p>
                <p>1.16. "<b>Service Month</b>" means the month in which the service or assistance was provided by Company.</p>
                <br />
                <h3 class="terms-subtitle">2. Enrollment in the Publisher Program</h3>
                <p>2.1. In order to participate in the Publisher Program you may be required to submit an online application. Company reserves the right to reject any application at its sole discretion;
                </p>
                <p>2.2. It is Company’s intention to purchase advertising space from the Publisher Media, paying to the Publisher a certain amount through the payout model described in Section 5 (Commission and Payment Conditions) of this Agreement;
                </p>
                <p>2.3. The Parties will remain, at all times, primarily liable to each other under the terms mentioned in this Agreement;</p>
                <p>2.4. This Agreement prevails over any terms supplied by the Publisher;</p>
                <p>2.5. Any individual contracting on his or her own behalf warrants that he or she is aged 18 or over. Any individual applying for the Publisher Program on behalf of a proposed Publisher warrants that he or she has all necessary authority
                    to bind that proposed Publisher.</p>
                <br />
                <h3 class="terms-subtitle">3. Provision of the Services</h3>
                <p>3.1. Through the present Agreement, Company may provide Publisher with advertising solutions to monetize mobile and internet inventory spaces via the Publisher Program;</p>
                <p>3.2. Company may make available to Publisher via the Publisher Program the Advertiser Materials and Links, which Publisher shall display on the Publisher Media. The Advertiser Materials and Links will serve to identify Publisher as a member
                    of the Publisher Program and will establish a link from the Publisher Media to the Advertiser Platform;
                </p>
                <p>3.3. Publisher shall provide the internet advertising space on the Publisher Media to Company and shall apply all of its better resources and skills for the supply of said space;</p>
                <p>3.4. The space to be supplied by the Publisher to Company as well as other technical and/or specific conditions related to it shall be determined through access of the Publisher to the Company Platform;
                </p>
                <p>3.5. Publisher recognizes that Company users are available to send their traffic to another link based on a minimum EPC for each segment and that this EPC is calculated based on Company’s global data;</p>
                <p>3.6. The Parties recognize that Publisher is given the possibility to monetize its traffic through Company’s algorithm and that the offer with the higher EPC of each segment will be automatically selected. Nevertheless, Company is not
                    able to guarantee that the same EPC on that segment will be achieved since it will depend also on the traffic quality;
                </p>
                <p>3.7. Any modifications to the conditions of the advertising space as well as others related to it as determined in the instructions that the Publisher has given to Company shall be made through the same procedure as mentioned in the previous
                    number;
                </p>
                <p>3.8. Publisher shall comply with lawful and reasonable directions regarding the advertising space communicated to it, from time to time, by Company, since it does not cause the Publisher to incur in extra costs;
                </p>
                <p>3.9. Each Party shall at all times cooperate with the other in good faith. Furthermore, Company, on an ongoing basis, shall follow Publisher’s reasonable directions with respect to the advertising space.
                </p>
                <br />
                <h3 class="terms-subtitle">4. Limited License</h3>
                <p>4.1. Company grants Publisher a nonexclusive, nontransferable, revocable right to use the Advertising Materials and to access the Company Platform solely in accordance with the terms of this Agreement, for the sole purpose of identifying
                    Publisher as a participant in the Publisher Program and assisting in increasing sales through the Advertiser Platform;
                </p>
                <p>4.2. Publisher may not alter, modify, manipulate or create derivative works of the Advertising Materials or any graphics, creatives, links, copy or other materials owned by, or licensed to, Company in any way. Publisher is only entitled
                    to use the Advertising Materials to the extent that Publisher is a member in good standing of the Publisher Program. Company may revoke Publisher’s license anytime by giving Publisher written notice;
                </p>
                <p>4.3. Except as expressly stated herein, nothing in this Agreement is intended to grant Publisher any rights to any of Company’s trademarks, service marks, copyrights, patents or trade secrets. Publisher agrees that Company may use any
                    suggestion, comment or recommendation Publisher chooses to provide to Company without compensation. All rights not expressly granted in this Agreement are reserved by Company.
                </p>
                <br />
                <h3 class="terms-subtitle">5. Commission and Payment Conditions</h3>
                <p>5.1. Publisher shall be entitled to receive a Commission for the supply of advertising space. The payment terms shall be agreed by the Parties in each case in the applicable order;
                </p>
                <p>5.2. The payment of the Commission by Company to the Publisher is dependent upon the respective Advertiser providing such funds to Company, and therefore, Publisher agrees that Company shall only be liable to Publisher for Commissions
                    to the extent that Company has received such funds from the Advertiser;</p>
                <p>5.3. In case both Parties decide not to proceed according to the payment method mentioned in the previous numbers, a custom revenue share payable to the Publisher by Company shall be determined in writing between the Parties. In case this
                    custom revenue share is agreed between the Parties, the Publisher will not be entitled to any bonus. This means that the previous numbers shall cease to apply;</p>
                <p>5.4. The payments to the Publisher shall be processed after service month numbers confirmation and within 30 (thirty) days of receipt of the invoice if another information is not mentioned. All Company payments are made on demand;
                </p>
                <p>5.5. The payments to the Publisher shall be made by Company by wire/bank transfer and PayPal. The payment method shall be decided by the Publisher after contacting the Company, being the payment fees charged by the bank or payment provider
                    deducted from the amount due to the Publisher;</p>
                <p>5.6. In order to withdraw money from the Account, the Publisher must have generated with his traffic at least 100 USD in one or several service months;</p>
                <p>5.7. Publisher shall provide Company with all the necessary information regarding Publisher’s bank details in order for Company to pay the Commissions. In the event that Publisher fails to provide Company with complete and correct bank
                    information, Company shall incur no liability for late payments arising as a consequence of such failure by Publisher, including but not limited to any damages, losses, expenses, interests, and fees.
                </p>
                <br />
                <h3 class="terms-subtitle">6. Reporting</h3>
                <p>6.1. The parties agree that Company shall provide daily reports to Publisher as to numbers of conversions, installs, sign-ups, leads as well as the revenue generated;</p>
                <p>6.2. The reports mentioned in the previous number may include statistics which the Publisher, acting reasonably, deems relevant, reporting on various aspects of the advertising space.</p>
                <br />
                <h3 class="terms-subtitle">7. Duration and Term</h3>
                <p>7.1. The present Agreement shall begin in the date of acceptance of Publisher’s application to the Publisher Program by Company and shall last until Publisher fails to respect any of the clauses of this Agreement or as otherwise terminated
                    as provided in this Section 7 (Duration and Term);</p>
                <p>7.2. Either Party may terminate this Agreement at any time forthwith by written notice to the other if:</p>
                <ul>
                    <li>The other Party breaches this Agreement in a irremediable way or, if remediable, the other Party does not cure the breach within 45 (forty five) days after receiving written notice requiring the same; or
                    </li>
                    <li>The other Party becomes bankrupt, insolvent, or enters into liquidation, whether voluntary or compulsory.</li>
                </ul>
                <p>7.3. Neither Party shall have any remedy against the other based on the termination of this Agreement. The termination of the present Agreement shall be without prejudice to the rights of either party accrued at the date of such termination.</p>
                <br />
                <h3 class="terms-subtitle">8. Fraud</h3>
                <p>8.1. The Publisher is expressly prohibited from using any persons, means, devices or arrangements to commit fraud, violate any applicable law, interfere with other Publishers of Company or falsify information in connection with referrals
                    through the Advertising Materials or Links or the generation of Commissions or exceed the Publisher’s permitted access to the Publisher Program. Such acts include, but are in no way limited to, using automated means to increase the
                    number of Actions through the Advertising Materials or Links or completion of any required information, using spyware, stealware, cookie-stuffing and other deceptive acts or click-fraud. Company shall make all determinations about
                    fraudulent activity in its sole discretion.</p>
                <br />
                <h3 class="terms-subtitle">9. Remedies</h3>
                <p>9.1. In addition to any other rights and remedies available to Company under this Agreement, Company reserves the right to delete any Action submitted through the Links and withhold and freeze any unpaid Commissions or charge back paid
                    Commissions to the Account if (i) Company determines that Publisher has violated this Agreement, (ii) Company receives any complaints about Publisher’s participation in the Publisher Program which Company reasonably believes to violate
                    this Agreement, or (iii) any qualified Action is later determined to have not met the requirements set forth in this Agreement or on the Publisher Program. In the event of a material breach of this Agreement, Company reserves the right
                    to disclose Publisher’s identity and contact information to appropriate law enforcement or regulatory authorities or any third party that has been directly damaged by Publisher’s actions.</p>
                <br />
                <h3 class="terms-subtitle">10. Representations and Warranties</h3>
                <p>10.1. Both Parties represent and warrant to each other that:</p>
                <ul>
                    <li>This Agreement is executed and signed by a duly authorized representative of the warranting Party;</li>
                    <li>They have full capacity and authority and all the necessary licenses, permits and consents (including, where its circumstances and procedures so require, the consent of its parent company) to enter into and to perform this Agreement
                        and shall maintain the same during the term of this Agreement;</li>
                    <li>They are not insolvent or unable to pay their debts, that no order has been issued or any petition requested or resolution passed for its winding up or for an administration order and no receiver, administrative receiver or administrator
                        or manager has been appointed by any person of its business or assets or any part thereof nor has any equivalent event like the ones mentioned taken place.</li>
                </ul>
                <p>10.2. Publisher represents and warrants to Company that:</p>
                <ul>
                    <li>The advertising space will meet Company’s requirements, but it will not be able to guarantee that the space will be uninterrupted, timely, secure or error free;</li>
                    <li>The supply of the advertising space and the Publisher Media shall be in compliance with all applicable laws, enactments, orders, regulations and other similar instruments in each jurisdiction in which the space is supplied and in each
                        country or territory which exercises effective jurisdiction over the use of the said space;
                    </li>
                    <li>The supply of the advertising space and Publisher’s actions pursuant to this Agreement shall not infringe the intellectual property rights of any third party;</li>
                    <li>It will send traffic which is not the result of fraudulent activity;</li>
                    <li>The Advertising Materials and Links will not become subject to any virus, worm, time bomb, Trojan horse, or other instrumentality, contamination or device that will cause any component of the Advertising Materials and Links to be erased,
                        corrupted or become inoperable or incapable of processing or affect operations of any other systems; and</li>
                    <li>It will not sublicense its rights or obligations hereunder except as expressly provided hereunder or otherwise with Company’s prior written approval; and, it will only work with subpartners that are bound to Publisher by terms as comprehensive
                        as those of the present Agreement, and Publisher shall remain fully liable for its subpartners at all times.</li>
                </ul>
                <p>10.3. Company represents and warrants to Publisher that:</p>
                <ul>
                    <li>The use of the advertising space shall be in compliance with all applicable laws, enactments, orders, regulations, and other similar instruments in each jurisdiction in which the inventory space is supplied and in each country or territory
                        which exercises effective jurisdiction over the use of the space; and</li>
                    <li>The use of the space and Company’s actions pursuant to this Agreement shall not infringe the intellectual property rights of any third party.</li>
                </ul>
                <p>10.4. Notwithstanding the previous numbers, Publisher will assume full legal liability corresponding to unauthorized or illegal advertising content, violation of intellectual property rights, deceptive, unfair and/or false advertising
                    or any other form of unlawful conduct. Should any law enforcement agency, internet service provider or other individual or entity provide Company with notice that Publisher has engaged in unlawful conduct or conduct in violation as
                    mentioned before, Company reserves the right to cooperate in any investigation related to the Publisher activities;</p>
                <p>10.5. Publisher will be fully responsible for all of its campaigns and ensures that all the content and the Advertising Materials to be used in each campaign will be according with the rating established by each country and operator. The
                    Publisher shall be fully responsible for the payment of all sanctions, liquidations, fines, penalties which may be imposed for non-compliance with applicable laws and regulations related to any marketing campaign or to the generation
                    of mobile web traffic by the Publisher to the Services under the scope of this Agreement;</p>
                <p>10.6. Following the procedure mentioned in Section 6 (Reporting), the Parties undertake to pay attention to paused campaigns. Notwithstanding being able to promote specific campaigns, Publisher must always pay attention and confirm if
                    the campaigns are active or not;</p>
                <p>10.7. Meanwhile, Company undertakes severally to inform and ask the Publisher, via API, by e-mail, to stop and/or pause the segments if any campaign is not active. In case safety fallback is enabled and Publisher continues to send traffic
                    related to paused campaigns, this traffic will be automatically redirected to different campaigns. Furthermore, in case the Publisher does not change its proceedings in this matter, its users will be redirected to Company’s algorithm
                    and, in these cases, Company is unable to guarantee the same EPC that the Publisher was receiving for the offer.</p>
                <br />
                <h3 class="terms-subtitle">11. Disclaimers</h3>
                <p>11.1. THE Publisher PROGRAM, THE ADVERTISING MATERIALS AND LINKS, AS WELL AS THE PRODUCTS AND SERVICES PROVIDED IN CONNECTION THEREWITH, ARE PROVIDED TO PUBLISHER "AS IS". EXCEPT AS EXPRESSLY SET FORTH HEREIN, COMPANY EXPRESSLY DISCLAIMS
                    ALL WARRANTIES, EXPRESS, IMPLIED OR STATUTORY, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING, USAGE,
                    OR TRADE. COMPANY DOES NOT WARRANT THAT THE PUBLISHER PROGRAM OR THE ADVERTISING MATERIALS AND LINKS WILL MEET PUBLISHER’S SPECIFIC REQUIREMENTS OR THAT THE OPERATION OF THE PUBLISHER PROGRAM OR THE ADVERTISING MATERIALS AND LINKS
                    WILL BE COMPLETELY ERROR-FREE OR UNINTERRUPTED. COMPANY EXPRESSLY DISCLAIMS ANY LIABILITY FOR ANY ACT OR OMISSION OF AN ADVERTISER OR THEIR PRODUCTS OR SERVICES. COMPANY DOES NOT GUARANTEE THAT PUBLISHER WILL EARN ANY SPECIFIC AMOUNT
                    OF COMMISSIONS.</p>
                <br />
                <h3 class="terms-subtitle">12. Confidentiality and Non-disclosure</h3>
                <p>12.1. Any confidential information and proprietary data provided by one Party (the "Disclosing Party") to the other Party (the "Receiving Party"), including, but not limited to, any advertisement description, the pricing of any advertisement
                    or the Disclosing Party’s personal and corporate documents, shall be deemed "Confidential Information" of the Disclosing Party. Confidential Information shall be kept in the strictest confidence and shall be protected by all reasonable
                    and necessary security measures. Confidential Information shall not be released by the Receiving Party to anyone except an employee or agent who has a need to know same, and who is bound by confidentiality obligations. Neither Party
                    will use any portion of Confidential Information provided by the other Party hereunder for any purpose other than those provided for under this Agreement.</p>
                <br />
                <h3 class="terms-subtitle">13. Indemnification</h3>
                <p>13.1. The Publisher shall defend and hold harmless Company, its parents, subsidiaries, Publishers, partners, agents, officers and employees, during and after the term of this Agreement, from and against all claims, demands, actions, suits,
                    judgments, settlements, damages, costs, losses, liabilities and expenses of any nature (including reasonable legal fees and expenses) based on, in connection with or related in any way to, directly or indirectly, (i) any failure or
                    breach of this Agreement, including any representation, warranty, or obligation made by Publisher herein; (ii) any misuse by Publisher, or by a party under the reasonable control of Publisher or obtaining access through Publisher,
                    of the Advertising Materials, Links, Company Platform, or Company’s or Advertiser’s intellectual property, (iii) any claim related to Publisher Media, including but not limited to, the content contained thereon (except for the Advertising
                    Materials and Links); or (iv) Publisher’s willful, unlawful or negligent acts or omissions;</p>
                <p>13.2. Company shall defend and hold harmless Publisher, its parents, subsidiaries, Publishers, partners, agents, officers and employees, during and after the term of this Agreement, from and against all claims, demands, actions, suits,
                    judgments, settlements, damages, costs, losses, liabilities and expenses of any nature (including reasonable legal fees and expenses) based on, in connection with or related in any way to, directly or indirectly, (i) any failure or
                    breach of this Agreement, including any representation, warranty, or obligation made by Company herein; or (ii) Company’s willful, unlawful or negligent acts or omissions.</p>
                <br />
                <h3 class="terms-subtitle">14. Limitation of Liability</h3>
                <p>14.1. Each Party hereby excludes any liability for breach of duty other than any such liability arising from this Agreement;</p>
                <p>14.2. Neither Party shall have liability in relation to the other for: loss of revenue; loss of actual or anticipated profits; loss of contracts; loss of the use of money; loss of anticipated savings; loss of business; loss of opportunity;
                    loss of goodwill; loss of reputation; loss of, damage to or corruption of data; or any indirect, incidental, special or consequential loss or damage; and such liability is excluded whether it is foreseeable, known, foreseen or otherwise;</p>
                <p>14.3. In no event shall Company be liable for any unavailability or inoperability of Company Platform, Advertiser Platform, Advertising Materials and Links, technical malfunction, computer error, corruption or loss of information, damage
                    or disruption of any kind beyond the reasonable control of Company.</p>
                <br />
                <h3 class="terms-subtitle">15. General Provisions</h3>
                <p>15.1. This Agreement contains all the terms agreed between the Parties regarding its subject matter and supersede and exclude any prior agreement, understanding or arrangement between the Parties, whether oral or in writing;</p>
                <p>15.2. The Parties hereby agree that this is the sole agreement that will be signed between them;</p>
                <p>15.3. The Parties are independent contractors and nothing in this Agreement will create any partnership, joint venture, agency, franchise, representative status or employment relationship between them. Neither Party has authority to and
                    shall not make any representations or incur any liability or cost or enter into any contracts or other arrangements involving the other Party in financial or other commitments without that other Party’s express prior approval in writing;
                    nor shall either Party hold itself out as having authority to do the same;</p>
                <p>15.4. Neither Party shall be liable for any delay or failure to perform its obligations under this Agreement to the extent that and for so long as such delay or failure results from circumstances beyond its control ("Force Majeure"). In
                    case an event of Force Majeure occurs, the Party suffering such event shall notify the other Party as soon as reasonably practicable of becoming aware of such event. If any event of Force Majeure continues for a period exceeding 3
                    (three) weeks, the Party not suffering such event shall have a right to terminate this Agreement immediately on written notice to the other Party;</p>
                <p>15.5. All notices and other communications required or permitted to be served or given shall be in writing and sent by email to the intended recipient’s address as communicated by the Parties in the related order. In any case, when directed
                    at Company, a copy shall always be sent to the following address: <b><a href="mailto:hello@utes.com">hello@utes.com</a></b></p>
                <p>15.6. Notices shall be treated as having been served 2 (two) working days after posting or dispatch if sent by first class post or courier, and on confirmation of transmission if sent by facsimile;</p>
                <p>15.7. Either Party’s failure to enforce or exercise at any time or for any period of time any term of or any right pursuant to this Agreement does not constitute, and shall not be construed as, a waiver of such term or right and shall
                    in no way affect that Party’s right later to enforce or to exercise it;</p>
                <p>15.8. If any provision contained in this Agreement is determined to be invalid, illegal or unenforceable in any respect under any applicable law, then such provision will be severed and replaced with a new provision that mostly reflects
                    the original intention of the Parties, and the remaining provisions of this Agreement will remain in full force and effect;</p>
                <p>15.9. Those provisions that either are expressed to survive its expiry or termination or from their nature or context it is contemplated that they are to survive such termination, shall survive termination of this Agreement;</p>
                <p>15.10. The Parties shall do and execute all such further acts and things as are reasonably required to give full effect to the rights given and the transactions contemplated by this Agreement;</p>
                <p>15.11. Company may update and change any part or all of this Agreement from time to time. In case Company updates or changes the terms of this Agreement, the updated terms will be posted in Company’s website and Company will notify Publisher
                    via email or a notification in the Company Platform. The updated Agreement will become effective and binding on the next business day after it is posted. Publisher should review this Agreement periodically. If Publisher does not agree
                    with a modification to this Agreement, Publisher must notify Company in writing within thirty (30) days after receiving notice of modification;</p>
                <p>15.12. Clause headings are for ease of reference and do not form part of nor shall they affect the interpretation of this Agreement;</p>
                <p>15.13. References to each Party herein include references to its successors in title, permitted assigns and novates;</p>
                <p>15.14. In case of any conflict between other agreement signed between the Parties and the conditions and terms hereby agreed, the present Agreement shall prevail;</p>
                <p>15.15. This Agreement shall be governed by and construed in accordance with the Laws of the Republic of Portugal;</p>
                <p>15.16. Any disputes related to this Agreement will be submitted to the Lisbon courts in Portugal.</p>
                <br /><br />
                <h2 class="terms-title">Data Processing Addendum</h2>
                <br />
                <p>This Data Processing Addendum ("<b>DPA</b>") is incorporated by reference into the Terms and Conditions of the Publisher Program ("<b>T&Cs</b>") and all current and future amendments and related orders by and between you ("<b>Publisher</b>"
                    or "<b>Controller</b>") and Company ("<b>Company</b>" or "<b>Processor</b>"), and collectively constitute the "Agreement". This DPA is supplemental to the Agreement and sets out the terms governing the processing of Personal Data by
                    Company on behalf of Publisher under the Agreement.</p>
                <p>The purpose of this DPA is to ensure such processing is conducted in accordance with applicable laws, including the Data Protection Laws, and with due respect for the rights and freedoms of individuals whose Personal Data are processed.
                    The term of this DPA shall follow the term of the Agreement.</p>
                <br />
                <h3 class="terms-subtitle">1. Definitions</h3>
                <p>1.1. Capitalized terms used but not otherwise defined herein shall have the same meaning as set forth in the Agreement;</p>
                <p>1.2. "<b>Data Protection Laws</b>" means the General Data Protection Regulation ("GDPR") (EU 2016/679) and all applicable legislation relating to data protection and privacy, including without limitation all local laws, regulations and
                    secondary legislation, together with any national implementing laws, as amended or updated from time to tim;</p>
                <p>1.3. The terms "Controller", "Data Subject", "Personal Data", "Processor" and "Processing" as used in this DPA have the meanings given in the GDPR.</p>
                <br />
                <h3 class="terms-subtitle">2. Processing of Personal Data</h3>
                <p>2.1. <b>Compliance with Data Protection Laws</b>. Both parties will comply with all applicable requirements of the Data Protection Laws;</p>
                <p>2.2. <b>Details of the Processing</b>. The subject matter and duration of processing, nature and purpose of processing, specific types of Personal Data that Company will process and categories of Data Subjects whose Personal Data will
                    be processed are set forth in <b>Schedule 1 (Scope of Processing)</b>;</p>
                <p>2.3. <b>Roles of the Parties</b>. The parties acknowledge that, under the Data Protection Laws, Company is the data processor and Publisher is the data controller or processor, as applicable, of Personal Data;</p>
                <p>2.4. <b>Authorisation by Third Party Controller</b>. If Publisher is a processor, Publisher warrants to Company that Publisher’s instructions and actions with respect to Personal Data, including its appointment of Company as another processor,
                    have been authorised by the relevant controller;</p>
                <p>2.5. <b>Publisher Instructions</b>. Publisher instructs Company to process Personal Data:</p>
                <ul>
                    <li>in accordance with the Agreement and Schedule 1;</li>
                    <li>to provide the Services and any related technical support;</li>
                    <li>as further specified via Publisher’s use of the Services (including in the settings and other functionality of the Services) and any related technical support; and</li>
                    <li>to comply with other reasonable instructions provided by Publisher where such instructions are consistent with the terms of the Agreement and this DPA.</li>
                </ul>
                <p>2.6. <b>Company’s Compliance with the Instructions</b>. Company shall collect, process and use Personal Data only within the scope of Publisher’s instructions. Company may process Personal Data other than on the instructions of Publisher
                    if it is required under applicable law to which Company is subject. Where Company is relying on applicable law as the basis for processing Personal Data, Company shall promptly notify Publisher of this before performing the processing
                    required by the applicable law unless such applicable law prohibits Company from so notifying Publisher. If Company believes or becomes aware that any of Publisher’s instructions conflict with any Data Protection Laws, Company shall
                    inform Publisher promptly and cease all processing (other than merely storing and maintaining the security of the affected Personal Data) until such time as Publisher issues new instructions with which Company is able to comply. If
                    this provision is invoked, Company will not be liable to Publisher under the Agreement for any failure to perform the Services until such time as the Publisher issues new instructions in regard to the processing.</p>
                <br />
                <h3 class="terms-subtitle">3. Publisher’s Obligations</h3>
                <p>3.1. Within the scope of the Agreement, Publisher shall be solely responsible for ensuring that:</p>
                <ul>
                    <li>it has complied, and will continue to comply, with all statutory requirements imposed by the Data Protection Laws, including but not limited to having an adequate legal basis for processing Personal Data in accordance with the terms
                        of the Agreement and this DPA;</li>
                    <li>it has, and will continue to have, the right to transfer, or provide access to, the Personal Data to Company for processing in accordance with the terms of the Agreement and this DPA;</li>
                    <li>it will inform Company comprehensively and without undue delay about any errors or irregularities related to statutory provisions on the processing of Personal Data.</li>
                </ul>
                <br />
                <h3 class="terms-subtitle">4. Company’s Obligations</h3>
                <p>4.1. Company shall, in relation to any Personal Data processed in connection with the performance by Company of its obligations under the Agreement:</p>
                <ul>
                    <li>implement appropriate technical and organizational measures to safeguard Personal Data, taking into account the costs of implementation and the nature, scope, context and purposes of processing, as well as the risk of varying likelihood
                        and severity for the rights and freedoms of natural persons;</li>
                    <li>ensure that all persons who have access to and/or process Personal Data, including its personnel, contractors and Subprocessors to the extent applicable to their scope of performance, are subject to confidentiality obligations with
                        respect to the Personal Data;</li>
                    <li>comply with its obligations under the Data Protection Laws by providing an adequate level of protection to any Personal Data that is transferred;</li>
                    <li>assist the Publisher, at Publisher’s cost and by appropriate technical and organizational measures considering the nature of processing, in fulfilling Publisher’s obligations to respond to Data Subjects’ requests under the Data Protection
                        Laws, to the extent Publisher does not have access to the Personal Data necessary to respond to such requests through its use or receipt of the Services. For the avoidance of doubt, Publisher is solely responsible for responding
                        to Data Subjects’ requests for access, correction, restriction, objection, erasure or data portability, as applicable, of that Data Subjects’ Personal Data;</li>
                    <li>take reasonable measures to cooperate and assist Publisher in conducting a data protection impact assessment and related consultations with any supervisory authority, if Publisher is required to do so under the Data Protection Laws;</li>
                    <li>notify Publisher without undue delay on becoming aware of a Personal Data breach affecting Personal Data, provided that such breach is not caused by Publisher or Publisher’s personnel or end users. At Publisher’s request, Company will
                        promptly provide Publisher with all reasonable assistance necessary to enable Publisher to notify Personal Data breaches to competent authorities and/or affected Data Subjects, if Publisher is required to do so under the Data Protection
                        Laws;</li>
                    <li>make available to Publisher all information reasonably necessary to demonstrate Company’s compliance with this DPA. No more than once per year, Publisher may engage a mutually agreed upon third party to audit Company solely for the
                        purposes of meeting its audit requirements pursuant to Article 28, Section 3(h) of the GDPR. To request an audit, Publisher must submit a detailed audit plan at least four (4) weeks in advance of the proposed audit date describing
                        the proposed scope, duration, and start date of the audit. Audit requests must be sent to hello@utes.com. The auditor must execute a written confidentiality agreement acceptable to Company before conducting the audit. The audit
                        must be conducted during regular business hours, subject to Company’s policies, and may not unreasonably interfere with Company’s business activities. Any audits are at Publisher’s sole cost and expense; and</li>
                    <li>upon termination or expiration of the Agreement, cease all processing of Personal Data subject to this DPA and delete or make available to Publisher for retrieval all relevant Personal Data in Company’s possession, except as otherwise
                        prohibited, allowed or required by any applicable law. Company shall extend the protections of the Agreement and this DPA to any such Personal Data and limit any further processing of such Personal Data to only those limited purposes
                        that require the retention.</li>
                </ul>
                <br />
                <h3 class="terms-subtitle">5. Subprocessors</h3>
                <p>5.1. <b>Consent to Subprocessor Engagement</b>. Company shall be entitled to engage third-party processors ("Subprocessors") to fulfil its obligations defined in the Agreement only with Publisher’s written consent. Publisher hereby consents
                    to Company appointing the third parties and affiliated companies as Subprocessors of Personal Data under this DPA;</p>
                <p>5.2. <b>Requirements for Subprocessor Engagement</b>. Company will execute contracts imposing data protection obligations on its Subprocessors that are at least equivalent to those data protection obligations imposed on Company under this
                    DPA. As between Publisher and Company, Company shall remain fully liable for all acts or omissions of any Subprocessor appointed by it pursuant to this Section 5.2;</p>
                <p>5.3. <b>Objection to New Subprocessors</b>. If Company engages a new Subprocessor, Company will notify Publisher by updating its list of Subprocessors located on its website and informing Publisher of the change via email or the use of
                    Company Platform. Publisher has the right to object to the engagement of new Subprocessors within 30 days after being notified, provided that the objection is based on reasonable grounds. If Publisher and Company are unable to resolve
                    such objection, the parties will work together to find a mutually agreeable solution.</p>
                <br />
                <h3 class="terms-subtitle">6. General Provisions</h3>
                <p>6.1. Except as stated in this DPA, the Agreement will remain in full force and effect. If there is a conflict between the Agreement and this DPA, the terms of this DPA will control as it relates to processing of Personal Data;</p>
                <p>6.2. Where individual provisions of this DPA are invalid or unenforceable, the validity and enforceability of the other provisions of this DPA shall not be affected;</p>
                <p>6.3. The party agreeing to this DPA as Publisher represents that it is authorized to agree to and enter into this DPA for, and is agreeing to this DPA solely on behalf of, the Publisher;</p>
                <p>6.4. Any claims brought under this DPA shall be subject to the Terms and Conditions of the Publisher Program, including but not limited to, the exclusion and limitations set forth in the Agreement.</p>
                <br /><br />
                <h2 class="terms-title">
                    Schedule 1<br /> Details of the Processing
                </h2>
                <br />
                <h3 class="terms-subtitle">Details of Data Processing</h3>
                <p>1. <b>Subject Matter</b>: The subject matter of the data processing under this DPA is the provision of the Services and any related technical support to Publisher;</p>
                <p>2. <b>Duration</b>: Personal Data will be processed for the duration of the Agreement, in accordance with its terms, except as otherwise required by applicable law;</p>
                <p>3. <b>Purpose</b>: The purpose of the processing of Personal Data under this DPA is the provision of the Services and any related technical support to Publisher and the performance of Company’s obligations under the Agreement and any applicable
                    order, or as otherwise agreed by the parties in mutually executed written form;</p>
                <p>4. <b>Nature of the Processing</b>: Company provides the Services as described in the Agreement, which involve processing Personal Data upon the instruction of the Publisher in accordance with the terms of the Agreement and any applicable
                    order;</p>
                <p>5. <b>Categories of Data Subjects</b>: Personal Data relates to the following categories of data subjects:</p>
                <ul>
                    <li>Employees, agents, advisors, representatives, consultants, partners of Publisher (who are natural persons); and/or</li>
                    <li>Publisher’s end users.</li>
                </ul>
                <p>6. <b>Types of Personal Data</b>: Identification and contact information, including name and email address, the extent of which is determined and controlled by the Publisher in its sole discretion; financial information; other Personal
                    Data such as navigational data (including website usage information), system usage data, application integration data; and other information about Publisher’s end users, such as online identifiers, including IP address, cookie identifier,
                    device identifier, and advertising identifier;</p>
                <p>7. <b>Sensitive and Special Categories of Personal Data</b>: Publisher shall not send Company any Sensitive or Special Categories of Personal Data, as defined in the Data Protection Laws.</p>
                <br /><br />
                <h2 class="terms-title">UTES Mobi Terms & Conditions</h2>
                <br />
                <p>Updated and effective as of December 14, 2017</p>
                <br />
                <h3 class="terms-subtitle">Introduction</h3>
                <p>UTES Mobi is a product of UTES SP. Z O.O.("UTES").</p>
                <p>Please read the terms & conditions carefully, since using UTES Mobi or any of its components indicates an acceptance and unconditional approval of all the conditions contained on this agreement.</p>
                <p>By using UTES Mobi (including any the use of data, texts images, design styles, computer code and mobile code of UTES.mobi and app.utes.mobi, or any use of the services offered on UTES.mobi and app.utes.mobi including, but not limited
                    to, parsing offers, API features, reports that are sent to users etc.) (UTES Mobi) you agree to be bounded by these terms & conditions. If you do not agree to this terms & conditions, do not use UTES Mobi.</p>
                <p>Unless otherwise expressly agreed in writing by UTES, the application of any other contract or conditions (including User’s own terms & conditions) is expressly excluded.</p>
                <br />
                <h3 class="terms-subtitle">1. Contracting Entity</h3>
                <p>These Terms is entered into between You ("User") and UTES SP. Z O.O. ("UTES"), a Polish company duly established at Poland, Kraków, 31-514, al. płk. Władysława Beliny-Prażmowskiego 14. By signing this legal document, you ensure that you
                    are 18 years of age or older, and can and will be legally bound by this Agreement.</p>
                <br />
                <h3 class="terms-subtitle">2. Changes to These Terms</h3>
                <p>We reserve the right to change or amend these terms at any time, for any reason, or for no reason at all, at UTES’s sole discretion. The most recent version of these terms will be posted on here. Although we might provide notice of material
                    changes to these terms, as a User, it is your sole responsibility to keep yourself informed of any such changes or amendments. Should a User object to any terms and conditions of these terms or any subsequent changes to these terms
                    or become dissatisfied with us in any way, User's only solution is to: (1) notify us in writing of termination two Business Days in advance; (2) terminate your registration as a User to UTES’s Platform.</p>
                <br />
                <h3 class="terms-subtitle">3. API Account</h3>
                <p>The usage of UTES Mobi API is open to legal entities and individuals aged of more than 18 (eighteen) years old with the full legal capacity to conclude contracts. Upon the registration on UTES Platform, UTES creates a dedicated "API Account"
                    for the User. User can have access to and manage its account in a dedicated and secured space on the UTES’s website. User shall be solely responsible for all usage and activity on its api account and for loss, theft or unauthorised
                    disclosure of its password. User undertakes to provide UTES with prompt written notification of any known or suspected unauthorised use of its account or any breach of the security of its Account.</p>
                <br />
                <h3 class="terms-subtitle">4. Using UTES Mobi</h3>
                <p>The service, content, data and information shown in or sent by UTES Mobi is given "As-Is", "As Available" and "With all faults" basis. You, as a User, will not have any demand, legal claim or other claim bount the data quality, errors
                    in the data, misstatement (including misstatement considering an offer availability, a network, a link etc.), advertisement shown, or any mistake of any kind whatsoever. It s clarified that you will not raise any argument or claim
                    against UTES in respect of any such error, mistake or deception. The presence of certain data in UTES Mobi does not indicate its reliability or that it is up to date. Note that the images shown are for impression purposes only, and
                    will not be used for any demand or claim against UTES.</p>
                <p>The service operates by computer code and by using the internet. You will not have any demand or claim about any failure or problem, any harm of user experience, or any damage of any kind, related to the computer code, the internet, or
                    any other technological factor.</p>
                <p>UTES reserves the rights to change, cancel or delete any service, content and/or data, including closing all the services and closing of UTES Mobi, at any time. You will not have any demand or claim against UTES related to any change made
                    in UTES Mobi. You may cancel your account with us at any time by contacting us in written form either by email (hello@utes.com).</p>
                <p>UTES reserves the right to block users, delete user’s data, and to do any change regarding a user, including preventing him/her from using UTES Mobi.</p>
                <p>Using UTES Mobi by non-manual way (for example: by using API, Bots, Robots etc.) is only allowed while purchasing API products ("UTES Mobi API"). Any other non-manual use, is forbidden. UTES may block users who are using UTES Mobi in a
                    way that a normal human being is not capable of.</p>
                <p>UTES reserves the right to sue any User for any damage, harm, loss, or future loss of profits. For example, such damages can be made by fictitious offer-checks, attacking or overloading the servers, copying data and/or information from
                    UTES Mobi for commercial use or any other unpermitted use.</p>
                <p>The User will compensate UTES for any loss, expense, future loss of profits or a payment that UTES will have do, due to a use that is not in accordance to these terms and conditions.</p>
                <br />
                <h3 class="terms-subtitle">5. General</h3>
                <ul>
                    <li>Each Party is an independent contractor and nothing in these Terms should be construed to create a partnership, joint venture, or employer-employee relationship between the parties. User is not the agent of UTES and is not authorised
                        to make any representation, contract, or commitment on behalf of UTES or UTES Mobi.</li>
                    <li>Business Day(s) shall mean any day other than a Saturday, Sunday or a legal holiday in Poland.</li>
                    <li>These terms shall be governed by the laws of Poland without regard to conflicts of law provisions. Any dispute arising out of this Agreement or the interpretation thereof, shall be discussed by the parties in the first instance, and
                        if possible resolved by negotiation. In the event that the matter cannot be so resolved, it shall be submitted to and determined by arbitration. The seat and place of arbitration shall be Krakow and the English language shall be
                        used throughout the arbitral proceedings. The arbitral award is final and binding upon both parties.</li>
                    <li>If any provision of this Agreement is prohibited by law or held to be unenforceable, the remaining provisions hereof shall not be affected, and this Agreement shall continue in full force and effect as if such unenforceable provision
                        had never constituted a part hereof, and the unenforceable provision shall be automatically amended so as to best accomplish the objectives of such unenforceable provision within the limits of applicable law.</li>
                    <li>Any waiver of a provision of this Agreement must be in writing and signed by the party to be charged. A valid waiver hereunder shall not be interpreted to be a waiver of that obligation in the future or any other obligation under this
                        Agreement.</li>
                    <li>This Agreement, constitutes the entire understanding and agreement between the parties relating to the subject matter thereof and supersedes any prior or contemporaneous agreement between the parties.</li>
                </ul>
            </div>
        </div>
    </div>
</section>