<section class="section background-trusted-by" id="trusted-by">
    <div class="container">
        <div class="row">
            <h2 class="hero-title hero-title-pricing js-title-bottom">TRUSTED BY</h2>
   

            <div class="logos-carousel">
                <div class="logo">
                    <img src="images/logos/act.png" class="logo-image" alt="Act">
                </div>
                <div class="logo">
                    <img src="images/logos/appbombe.png" class="logo-image" alt="AppBomber">
                </div>
                <div class="logo">
                    <img src="images/logos/laddez-white.png?v1" class="logo-image" alt="Laddez">
                </div>
                <div class="logo">
                    <img src="images/logos/ramon.png" class="logo-image" alt="Hearthstone">
                </div>
                <!-- <div class="logo">
                    <img src="images/logos/letgo.png" class="logo-image" alt="Letgo">
                </div> -->
                <!-- <div class="logo">
                        <img src="images/logos/Eharmony_new_logo.png" class="logo-image" alt="Eharmony">
                    </div>
                    <div class="logo">
                        <img src="images/logos/Iheart-radio-logo.png" class="logo-image" alt="Iheart Radio">
                    </div>
                    <div class="logo">
                        <img src="images/logos/logo-wadi-en.png" class="logo-image" alt="Wadi">
                    </div>
                    <div class="logo">
                        <img src="images/logos/sports.png" class="logo-image" alt="Sports">
                    </div> -->
            </div>
        </div>

    </div>
    </div>
</section>